" set leader key
nnoremap <SPACE> <Nop>
vnoremap <SPACE> <Nop>
let mapleader=" "
set timeoutlen=800

" search
set hlsearch
set incsearch
set smartcase
set ignorecase
nnoremap <leader>sc :set scs!<CR>
nnoremap <leader>ic :set ignorecase!<CR>
nnoremap <ESC> <ESC>:nohlsearch<CR>
vnoremap <ESC> <ESC>:nohlsearch<CR>
nnoremap <leader>/ /<C-R>"<CR>

" other
set showmode
set laststatus=2
set scrolloff=5
set showcmd
set nu
set relativenumber
nnoremap <leader>nu :set nu!<CR>
nnoremap <leader>rnu :set rnu!<CR>

" —————— plugins & remap plugins shortcuts start ——————
set easymotion
map <leader>f <Plug>(easymotion-s)
nnoremap <leader>; :action AceLineStartsAction<CR>

set NERDTree

set surround
"nmap S <Plug>VSurround
"xmap S <Plug>VSurround

set multiple-cursors
nmap <A-S-j> <Plug>NextWholeOccurrence
xmap <A-S-j> <Plug>NextWholeOccurrence
nmap <A-S-n> <Plug>SkipOccurrence
xmap <A-S-n> <Plug>SkipOccurrence
nmap <A-S-k> <Plug>RemoveOccurrence
xmap <A-S-k> <Plug>RemoveOccurrence
nmap <A-C-j> <Plug>AllWholeOccurrences
xmap <A-C-j> <Plug>AllWholeOccurrences
xmap <C-j> <Plug>AllOccurrences

set commentary
"nnoremap gcc :action CommentByLineComment<CR>
"vnoremap gcc :action CommentByLineComment<CR>

" set argtextobj

set exchange

let g:textobj_entire_no_default_key_mappings = 1
set textobj-entire
omap ag <Plug>textobj-entire-a
xmap ag <Plug>textobj-entire-a
omap ig <Plug>textobj-entire-i
xmap ig <Plug>textobj-entire-i

set highlightedyank

set vim-paragraph-motion

set textobj-indent

set matchit
let b:match_words = '<:>,<tag>:</tag>,if:else'

" set which-key
set notimeout

set ReplaceWithRegister
"set keep-english-in-normal-and-restore-in-insert
" —————— plugins & remap plugins shortcuts end ——————

" edit ideavimrc
nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vs :source ~/.ideavimrc<CR>:nohlsearch<CR>

" insert mode shortcut
inoremap <A-h> <Left>
inoremap <A-j> <Down>
inoremap <A-k> <Up>
inoremap <A-l> <Right>
inoremap <A-a> <Esc>^i
inoremap <A-e> <End>
inoremap <A-u> <Backspace>
inoremap <A-i> <Delete>
inoremap <A-n> <C-o><C-e>
inoremap <A-m> <C-o><C-y>

inoremap <C-e> <C-o><C-e>
inoremap <C-y> <C-o><C-y>
inoremap <C-d> <C-o><C-d>
inoremap <C-u> <C-o><C-u>
inoremap <C-f> <C-o><C-f>
inoremap <C-b> <C-o><C-b>

" line move keymaps
inoremap <A-S-j> <Esc>:move+1<CR>i
inoremap <A-S-k> <Esc>:move-2<CR>i
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

nnoremap <A-j> <Esc>:move+1<CR>
nnoremap <A-k> <Esc>:move-2<CR>
nnoremap <C-S-j> :action MoveStatementDown<CR>
nnoremap <C-S-k> :action MoveStatementUp<CR>
vnoremap <C-S-j> :action MoveStatementDown<CR>
vnoremap <C-S-k> :action MoveStatementUp<CR>

" jump map
nnoremap <A-,> :action MethodDown<CR>
nnoremap <A-.> :action MethodUp<CR>

" idea specific settings
set ideajoin
set idearefactormode=keep

" run and debug
nnoremap \\c :action CompileDirty<CR>
nnoremap \\d :action Debug<CR>
nnoremap \\s :action Stop<CR>
nnoremap \\b :action ToggleLineBreakpoint<CR>
nnoremap \\v :action ViewBreakpoints<CR>
nnoremap \\e :action EditBreakpoint<CR>
nnoremap \\m :action XDebugger.MuteBreakpoints<CR>
nnoremap \\r :action JRebel Debug<CR>

" bookmark
nnoremap <leader>bz :action Bookmarks<CR>
nnoremap <leader>bs :action ShowBookmarks<CR>
nnoremap <leader>be :action EditBookmark<CR>
nnoremap <leader>re :action MemoryView.ShowInstances<CR>

" code actions
nnoremap R :action RenameElement<CR>
vnoremap = :action ReformatCode<CR>
nnoremap == :action ReformatCode<CR>
"nnoremap -- :action OptimizeImports<CR>

" 其他模式快速移动
map H ^
map L $
nnoremap J gT
vnoremap J gT
nnoremap K gt
vnoremap K gt
nnoremap zh 20zh
nnoremap zl 20zl
nnoremap <leader>j J
nnoremap U :redo<CR>
vnoremap U :redo<CR>

inoremap jj <ESC>
inoremap JJ <ESC>
nnoremap <leader>n :normal<CR>
"nnoremap <leader>i H
"nnoremap <leader>j M
"nnoremap <leader>n L

" window operation
set so=3
nnoremap <C--> :action MoveTabDown<CR>
nnoremap <C-\> :action MoveTabRight<CR>
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap <leader>cc :action Unsplit<CR>
nnoremap <leader>ca :action UnsplitAll<CR>

" copy and paste
set clipboard+=unnamedplus
noremap <leader>y "*y
noremap <leader>p "0p
noremap <leader>P "*p
nnoremap yy "+yy

" --------- IDE leader ----------
nnoremap <leader>1 :action ToggleZenMode<CR>
nnoremap <leader>2 :action ToggleFullScreen<CR>
nnoremap <leader>er :action ShowErrorDescription<CR>
nnoremap <Leader>rf :action RenameFile<CR>
nnoremap <leader>bd :q<CR>
nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <leader>bh :action CloseAllToTheLeft<CR>
nnoremap <leader>bl :action CloseAllToTheRight<CR>
nnoremap <leader>d :action EditorPopupMenu.Run<CR>
nnoremap <leader>gi gi
nnoremap <leader>o :action OpenInBrowser<CR>
nnoremap <leader>m :action MavenRunHelperCleanInstall<CR>

" ---------- IDE g ----------
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gn :action ShowHoverInfo<CR>
nnoremap gl :action TypeHierarchy<CR>
nnoremap gj :action Back<CR>
nnoremap gk :action Forward<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gm :action GotoSymbol<CR>

" ---------- IDE t ----------
nnoremap ta :action Annotate<CR>
nnoremap tf :action FileStructurePopup<CR>
nnoremap ti :action QuickActions<CR>
nnoremap to :action RecentProjectListGroup<CR>
nnoremap tp :action ShowPopupMenu<CR>
