" set Leader key
nnoremap <SPACE> <Nop>
vnoremap <SPACE> <Nop>
let mapLeader = " "
set timeoutlen = 800

" search
set hlsearch
set incsearch
set smartcase
set ignorecase
nnoremap <ESC> <ESC>:nohlsearch<CR>
vnoremap <ESC> <ESC>:nohlsearch<CR>

" other
set showmode
set laststatus = 2
set scrolloff = 3
set showcmd

" plugins & remap plugins shortcuts
set easymotion
map <Leader>f <Plug>(easymotion-s)

"set sneak
"map f <Plug>(sneak-s)
"map F <Plug>(sneak-S)

set NERDTree
"map <Leader>e :action SelectInProjectView<CR>
"nnoremap <Leader>d :NERDTreeFocus<CR>

set surround
"nmap S <Plug>VSurround
"xmap S <Plug>VSurround

set multiple-cursors
nmap <A-S-j> <Plug>NextWholeOccurrence
xmap <A-S-j> <Plug>NextWholeOccurrence
nmap <A-S-n> <Plug>SkipOccurrence
xmap <A-S-n> <Plug>SkipOccurrence
nmap <A-S-k> <Plug>RemoveOccurrence
xmap <A-S-k> <Plug>RemoveOccurrence
nmap <A-C-j> <Plug>AllWholeOccurrences
xmap <A-C-j> <Plug>AllWholeOccurrences

set commentary
"nnoremap gcc :action CommentByLineComment<CR>
"vnoremap gcc :action CommentByLineComment<CR>

set argtextobj
set exchange
set textobj-entire
set highlightedyank
set vim-paragraph-motion
set textobj-indent
set matchit
"set which-key
"set ReplaceWithRegister
"set keep-english-in-normal-and-restore-in-insert

" Idea specific settings
set ideajoin
set idearefactormode = keep

" edit vimrc
nnoremap <Leader>ve :e ~/.ideavimrc<CR>
nnoremap <Leader>vw :w!<CR>
nnoremap <Leader>vs :source ~/.ideavimrc<CR>

" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>

" intellij built in key map
nnoremap <Leader>r :action Refactorings.QuickListPopupAction<CR>

" build and compile code
nnoremap <Leader>mr :action Maven.Reimport<CR>

"toggle something
"toggle track vim action Id
nnoremap ta :action VimFindActionIdAction<CR>

" run and debug
nnoremap ,d :action Debug<CR>
nnoremap ,r :action Run<CR>
nnoremap ,c :action CompileDirty<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,v :action ViewBreakpoints<CR>
nnoremap ,s :action Stop<CR>

" code actions
nnoremap R :action RenameElement<CR>
"nnoremap == :action ReformatCode<CR>
"vnoremap = :action ReformatCode<CR>
"nnoremap -- :action OptimizeImports<CR>

"--------------------

" Don't use Ex mode, use Q for formatting.
map Q gq

"以下两条命令开启相对行"
set nu
set relativenumber

" 其他模式快速移动
map H ^
map L $
nnoremap J gT
vnoremap J gT
nnoremap K gt
vnoremap K gt
nnoremap <Leader>J J

inoremap jj <ESC>
inoremap JJ <ESC>
nnoremap <Leader>n :normal<CR>
nnoremap <Leader>i H
nnoremap <Leader>j M
nnoremap <Leader>n L

" 左右移动视野
nnoremap zh 50zh
nnoremap zl 50zl

" Window operation
set so = 3
nnoremap <Space>ww <C-W>w
nnoremap <Leader>wd <C-W>c
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>w- <C-W>s
noremap <Leader>wv <C-W>v
nnoremap <Leader>w\| <C-W>v

" copy and paste
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>P "0p
vnoremap Y "+y
nnoremap yy V<Leader>y
nnoremap <Leader>/ /<C-R>"<CR>

"---------- IDE g ----------
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gu :<C-u>action ShowUsages<CR>
nnoremap gf :<C-u>action GotoFile<CR>
nnoremap gj :action Back<CR>
nnoremap gk :action Forward<CR>
nnoremap gm :<C-u>action GotoSymbol<CR>
nnoremap gr :<C-u>action RecentFiles<CR>
nnoremap gt :<C-u>action GotoTest<CR>

"---------- IDE t ----------
nnoremap ta :action Annotate<CR>
nnoremap tb :action ToggleLineBreakpoint<CR>
nnoremap tf :action FileStructurePopup<CR>
nnoremap ti :action QuickActions<CR>
nnoremap tm :action ToggleBookmark<CR>
nnoremap to :<C-u>action RecentProjectListGroup<CR>
nnoremap tp :action ShowPopupMenu<CR>

nnoremap <Leader>er :action ShowErrorDescription<CR>

" --------- IDE config ----------
nnoremap <Leader>1 :action ToggleZenMode<CR>
nnoremap <Leader>2 :action ToggleFullScreen<CR>
nnoremap <Leader>r :action Refactorings.QuickListPopupAction<CR>
